input[type="text"] {
  width: 100%;
  padding: px-to-rem(8) 0;
  font-family: "Roboto", sans-serif;
  font-size: px-to-rem(16);
  box-sizing: border-box;
  border: none;
  outline: 0;
  color: $color-primary;

  &::-webkit-input-placeholder {
    color: $color-silver-light;
  }

  &::-moz-placeholder {
    color: $color-silver-light;
  }

  &:-ms-input-placeholder {
    color: $color-silver-light;
  }

  &:-moz-placeholder {
    color: $color-silver-light;
  }
}
