.home {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;

  .home__search {
    width: 80%;
    margin: 0 auto;
    text-align: left;

    .home__search__input {
      border-bottom: px-to-rem(1) solid $color-primary;
      text-transform: uppercase;
      font-size: px-to-rem(22);
      transition: margin-top 300ms linear;
      background: url("images/search-icon.svg") no-repeat 100% px-to-rem(10);
      background-size: px-to-rem(22);
      margin-top: px-to-rem(160);
      display: block;

      &.home__search__input--has-results {
        background: none;
        margin-top: px-to-rem(80);
      }
    }

    .home__search__spinner {
      margin-top: px-to-rem(20);

      img {
        float: left;
      }

      p {
        margin: px-to-rem(2) 0 0 px-to-rem(16);
        float: left;
      }
    }

    .home__search__errors {
      margin-top: px-to-rem(20);

      p {
        color: $color-red;
      }
    }
  }

  .home__forecast__temperature {
    font-size: px-to-rem(70);

    &.home__forecast__temperature--low {
      color: $color-blue;
    }

    &.home__forecast__temperature--medium {
      color: $color-orange;
    }

    &.home__forecast__temperature--high {
      color: $color-red;
    }
  }

  .home__today-forecast {
    margin-top: px-to-rem(110);

    h2 {
      margin-top: px-to-rem(35);
    }

    .home__forecast__temperature {
      font-size: px-to-rem(70);
    }

    @media (max-width: 700px) {
      margin-top: px-to-rem(80);
    }
  }

  .home__days-forecast {
    margin-top: px-to-rem(110);

    .home__days-forecast__day {
      width: 25%;
      display: inline-block;

      .home__forecast__temperature {
        font-size: px-to-rem(25);
        display: inline-block;
        padding: 0 px-to-rem(12);
      }
    }

    @media (max-width: 700px) {
      margin-top: px-to-rem(80);

      .home__days-forecast__day {
        width: 100%;
        display: block;
        padding: px-to-rem(8) 0;
        border-bottom: px-to-rem(1) solid $color-primary;

        .home__days-forecast__day__info {
          width: 80%;
          text-align: left;
          display: inline-block;

          h2 {
            font-size: px-to-rem(16);
            margin: 0;
            padding-left: px-to-rem(8);
          }

          p {
            font-size: px-to-rem(14);
            margin: 0;
            padding-left: px-to-rem(8);
          }
        }

        .home__days-forecast__day__temperature {
          width: 20%;
          display: inline-block;
        }
      }
    }
  }
}
