@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: px-to-rem(50);
  text-transform: uppercase;
  color: $color-primary;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: px-to-rem(25);
  text-transform: uppercase;
  color: $color-primary;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: px-to-rem(16);
  color: $color-primary;
}
